*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

.divGeral{
    width: 100%;
    height: 896px;
}

.cabecalho{        
    color: white;
        background-color:rgb(218, 0, 181);
        width: 100%;
        height: 80px;
        text-align: left;
        font-weight: bold;
        font-size: 30px;
        display: flex;
        align-items: center; /* Alinha os itens verticalmente */
        justify-content: space-between; 
      
    }

.titulo{
    color: white;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
  
}

.cabecalho span{
    margin-top: 1%; /* Ou qualquer valor desejado */
    margin-left: 2%;
    margin-right: 15%;
}


.liImagem{
    border-radius:10px;
    width: 30%;
    height: 40px;
    background-color:  rgb(0, 204, 255);
    text-align: center;
    margin-top: 7%;
    margin-left: 40%;
    display: inline;
    color: white;
    padding: 5px;
    margin-bottom: 10%;

}

a{ 
    text-decoration: none;
}

.infos{
    margin-top: 7%;
    
}

.subtitulo{
    font-size: 15px;
    font-weight: bold;
    color: rgb(74, 71, 71);
    text-align: center;
    font-size: 25px;
}

.descricao{
    font-size: 12px;
    color: rgb(99, 98, 98);
    width: 100%;
    margin-top: 1%;
    text-align: center;
    font-size: 15px;


}

.imagem{
   background-color:rgb(196, 192, 192); 
   width: 65%;
   height: 250px;
   border-radius: 60%;
   margin:auto;
   margin-top: 10%;

}

table{
    height: 60px;
    width: 70%;
    border: solid rgb(218, 0, 181)1px;
    text-align: center;
    margin-top: 20%;
    margin-left: 15%;
    font-weight: bold;
    font-size: 25px;

}

table,td,th{
    border-collapse: collapse;
}

.tdMedia{
    width: 50%;
color: rgb(218, 0, 181);
}

.tdNota{
    border-left: solid rgb(218, 0, 181)1px;
    width: 50%;
    background-color: rgb(218, 0, 181);
    color: white;
}



.infos .subtitulo {
    margin: auto;
}
@media (min-width: 500px) and (max-width: 620px) {
    .imagem{
        width: 55%;
        height: 280px;
    }
}

@media (min-width: 621px) and (max-width: 720px) {
    .imagem{
        width: 50%;
        height: 290px;

    }
}

@media (min-width: 721px) and (max-width: 870px) {
    .imagem{
        width: 45%;
        height: 295px;

    }
}

@media (min-width: 871px) and (max-width: 950px){
    .imagem{
        width: 40%;
        height: 340px;

    }
}

@media (min-width: 951px) and (max-width: 2000px){
    .imagem{
        width: 37%;
        height: 370px;

    }
}